{
    email vipinsingh@gmail.com
}

# Main App
https://av-lap-pg0441tk.taildb17d2.ts.net {

    encode gzip

    reverse_proxy app:8000
}

# Uptime Kuma
https://av-lap-pg0441tk.taildb17d2.ts.net:8443 {

    encode gzip

    reverse_proxy uptime-kuma:3001
}